name: Silicon Labs firmware build

on:
  push:
    paths:
      - Dockerfile
      - .github/workflows/build.yaml
      - .github/workflows/silabs-firmware-build.yaml
      - EmberZNet/**
      - OpenThreadRCP/**
      - RCPMultiPAN/**
    branches:
      - main
    tags:
      - '*'
  workflow_dispatch:

env:
  sdk_version: 4.3.1

jobs:
  build-container:
    name: Create build container image
    runs-on: ubuntu-latest
    permissions:
      packages: write
    outputs:
      sdk_version: ${{ env.sdk_version }}
      ot_version: 2.3.1.0
      ezsp_version: 7.3.1.0
    steps:
      - uses: actions/checkout@v3.3.0
      - name: Log in to the GitHub container registry
        uses: docker/login-action@v2.1.0
        with:
            registry: ghcr.io
            username: ${{ github.repository_owner }}
            password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1
      - name: Build and Push
        uses: docker/build-push-action@v3.3.0
        with:
          context: .
          file: Dockerfile
          tags: ghcr.io/${{ github.repository }}:${{ env.sdk_version }}
          cache-from: ghcr.io/${{ github.repository }}:cache-${{ env.sdk_version }}
          cache-to: ghcr.io/${{ github.repository }}:cache-${{ env.sdk_version }}
          push: true
          build-args:
            "GECKO_SDK_VERSION=v${{ env.sdk_version }}"

  ezsp-firmware-build:
    name: EmberZNet NCP
    needs: build-container
    strategy:
      matrix:
        target: [zbdonglee, zbdonglee-none, zb-gw04-1v2]
        baudrate: [115200, 230400]
        include:
          - device: EFR32MG21A020F768IM32
          - components: zigbee_token_interface
          - target: zbdonglee
            patchpath: "EmberZNet/ZBDongleE"
          - target: zbdonglee-none
            patchpath: "EmberZNet/ZBDongleE-none"
          - target: zb-gw04-1v2
            patchpath: "EmberZNet/ZB-GW04-1v2"
          - target: yellow
            device: MGM210PA32JIA
            components: simple_led:board_activity,zigbee_token_interface
            patchpath: "EmberZNet/Yellow"
            baudrate: 115200
          - target: skyconnect
            device: EFR32MG21A020F512IM32
            components: zigbee_token_interface
            patchpath: "EmberZNet/SkyConnect"
            baudrate: 115200
        exclude:
          - target: zbdonglee-none
            baudrate: 230400
    uses: ./.github/workflows/silabs-firmware-build.yaml
    with:
      firmware_name: ncp-uart-hw-v${{ needs.build-container.outputs.ezsp_version}}-${{ matrix.target }}-${{ matrix.baudrate }}
      project_file: "/gecko_sdk/protocol/zigbee/app/ncp/sample-app/ncp-uart-hw/ncp-uart-hw.slcp"
      project_name: "ncp-uart-hw"
      device: ${{ matrix.device }}
      components: ${{ matrix.components }}
      configuration:  |
        SL_IOSTREAM_USART_VCOM_RX_BUFFER_SIZE:64,
        EMBER_APS_UNICAST_MESSAGE_COUNT:20,
        EMBER_NEIGHBOR_TABLE_SIZE:26,
        EMBER_SOURCE_ROUTE_TABLE_SIZE:200,
      patchpath: ${{ matrix.patchpath }}
      extra_c_defs: "'-DEMBER_ADDRESS_TABLE_SIZE=16' '-DEMBER_MULTICAST_TABLE_SIZE=16'"
      sdk_version: ${{ needs.build-container.outputs.sdk_version}}
      metadata_fw_type: "ncp-uart-hw"
      baudrate: ${{ matrix.baudrate }}
      metadata_extra: "{ \"ezsp_version\": \"${{ needs.build-container.outputs.ezsp_version}}\" }"

  rcp-multi-pan-firmware-build:
    name: RCP Multi-PAN
    needs: build-container
    strategy:
      matrix:
        target: [zbdonglee, zb-gw04-1v2]
        baudrate: [115200, 230400, 460800]
        include:
          - components: cpc_security_secondary_none
          - device: EFR32MG21A020F768IM32
          - target: zbdonglee
            patchpath: "RCPMultiPAN/ZBDongleE"
          - target: zb-gw04-1v2
            patchpath: "RCPMultiPAN/ZB-GW04-1v2"
          - target: yellow
            device: MGM210PA32JIA
            components: simple_led:board_activity,cpc_security_secondary_none
            patchpath: "RCPMultiPAN/Yellow"
            baudrate: 460800
          - target: skyconnect
            device: EFR32MG21A020F512IM32
            components: cpc_security_secondary_none
            patchpath: "RCPMultiPAN/SkyConnect"
            baudrate: 460800
        exclude:
          - target: zb-gw04-1v2
            baudrate: 460800
    uses: ./.github/workflows/silabs-firmware-build.yaml
    with:
      firmware_name: rcp-uart-802154-v${{ needs.build-container.outputs.sdk_version}}-${{ matrix.target }}-${{ matrix.baudrate }}
      project_file: "/gecko_sdk/protocol/openthread/sample-apps/ot-ncp/rcp-uart-802154.slcp"
      project_name: "rcp-uart-802154"
      device: ${{ matrix.device }}
      components: ${{ matrix.components }}
      patchpath: ${{ matrix.patchpath }}
      sdkpatchpath: "RCPMultiPAN/GeckoSDK"
      sdk_version: ${{ needs.build-container.outputs.sdk_version}}
      baudrate: ${{ matrix.baudrate }}
      metadata_fw_type: "rcp-uart-802154"

  ot-rcp-firmware-build:
    name: OpenThread RCP
    needs: build-container
    strategy:
      matrix:
        target: [zbdonglee, zb-gw04-1v2]
        baudrate: [115200, 230400, 460800]
        include:
          - components: bootloader_interface
          - device: EFR32MG21A020F768IM32
          - target: zbdonglee
            patchpath: "OpenThreadRCP/ZBDongleE"
          - target: zb-gw04-1v2
            patchpath: "OpenThreadRCP/ZB-GW04-1v2"
          - target: yellow
            device: MGM210PA32JIA
            components: simple_led:board_activity,bootloader_interface
            patchpath: "OpenThreadRCP/Yellow"
            baudrate: 460800
          - target: skyconnect
            device: EFR32MG21A020F512IM32
            components: bootloader_interface
            patchpath: "OpenThreadRCP/SkyConnect"
            baudrate: 460800
        exclude:
          - target: zb-gw04-1v2
            baudrate: 460800
    uses: ./.github/workflows/silabs-firmware-build.yaml
    with:
      firmware_name: ot-rcp-v${{ needs.build-container.outputs.ot_version}}-${{ matrix.target }}-${{ matrix.baudrate }}
      project_file: "/gecko_sdk/protocol/openthread/sample-apps/ot-ncp/ot-rcp.slcp"
      project_name: "ot-rcp"
      device: ${{ matrix.device }}
      components: ${{ matrix.components }}
      patchpath: ${{ matrix.patchpath }}
      sdkpatchpath: "OpenThreadRCP/GeckoSDK"
      extra_c_defs: "'-DOPENTHREAD_CONFIG_NCP_REBOOT_BOOTLOADER_ENABLE=1'"
      sdk_version: ${{ needs.build-container.outputs.sdk_version}}
      metadata_fw_type: "ot-rcp"
      baudrate: ${{ matrix.baudrate }}
      metadata_extra: "{ \"ot_rcp_version\": \"SL-OPENTHREAD/2.3.1.0_GitHub-e6df00dd6\" }"

  collect_artifacts:
    name: download and publish all artifacts
    runs-on: ubuntu-latest
    needs: [ezsp-firmware-build, rcp-multi-pan-firmware-build, ot-rcp-firmware-build]
    steps:
      - uses: actions/checkout@v3.3.0
      - uses: actions/download-artifact@v3
        with:
          path: firmware_builds
      - name: Reorganise artifact structure
        run: |
          set -e
          targets="skyconnect yellow zb-gw04-1v1 zb-gw04-1v2 zbdonglee"
          for t in $targets; do
                  mkdir -p $t

                  find *cp-uart-*/ ot-rcp*/ -maxdepth 1 -type f -name "*$t*.gbl" -exec sh -c 'cp "$0" "$1/$(basename "$0")"' {} "$t" \;
          done

          find *cp-uart-*/ ot-rcp*/ -maxdepth 1 -type f -name "*zbdongle*.gbl" ! -name "*460*" | while read f
          do
              new=$(basename $f | sed "s/zbdonglee/zb-gw04-1v1/")
              cp $f zb-gw04-1v1/$new
          done

          rm -rf *cp-uart-*/ ot-rcp*/
        working-directory: firmware_builds
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update firmware builds
          file_pattern: firmware_builds/**.gbl
